/* TODO: Font. */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --matched-blue: #6ba8ff;
    --background: #fff;
    --foreground: #3a3a3a;
    --light-foreground: #555;
}

::-webkit-scrollbar {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--light-foreground);
}

html {
    background: var(--background);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Roboto";
    font-size: 18px;
    padding: 20px 25px;
}

h1 {
    font-size: 25px;
    font-family: "Roboto Condensed";
    font-weight: 400;
}

a:hover {
    text-decoration: none;
}

ul {
    padding-left: 0px;
}

li::marker {
    color: var(--matched-blue);
}

li {
    padding-bottom: 15px;
}

#top-bar {
    display: flex;
    align-items: center;
    font-family: "Roboto Condensed";
    justify-content: space-between;
    font-weight: 400;
}

#title {
    text-decoration: none;
    color: var(--foreground);
    font-size: 31px;
}

nav {
/*     Float right */
    margin-left: auto;
}

nav .item {
    text-decoration: none;
    color: var(--foreground);
    padding: 0px 15px;
    border-right: 1px solid var(--light-foreground);
}

a, nav .item:hover, nav #selected, #title span {
    color: var(--matched-blue);
}

nav img {
    vertical-align: middle;
    height: 20px;
    filter: saturate(0.5);
}

nav img:hover {
    filter: saturate(0.5) brightness(0.8);
}

/* TODO: iPad centering. */
#content {
    max-width: 800px;
    align: center;
    margin: auto;
    margin-top: 100px;
}

#portfolio {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 15px;
    margin-top: 40px;
}

#portfolio img {
    max-width: 100%;
    height: auto;
}

#portfolio img:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    nav {
        position: absolute;
        margin-top: 85px;
        font-size: 20px;
    }

    nav a[href="/"] {
        padding-left: 0px;
    }

    #portfolio {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(1, auto);
        margin-top: 70px;
    }

    ul {
        padding-left: 20px;
    }

    #content {
        margin-top: 70px;
    }

    #title {
        font-size: 29px;
    }
}
